<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Style.css">
    <title>Team Hello World</title>
</head>
<body>
  <div class="banner">
    <div class="navbar">
        <img src="/static/logo-modified.png" class="logo">
        <ul>
            <li><a href="main.html">Home</a></li>
            <li><a href="#">Doctors</a></li>
            <li><a href="#">Tests</a></li>
            <li><a href="#">Donate</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
    <div class="content">
      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="fever">Fever:</label>
      <select name="fever" id="fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>




        <div>
            <button a type="button">
                <span></span> <a href="#">Check Result</a>
            </button>
        </div>
    </div>

</div>
</body>
</html>