<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Style.css">
    <title>Team Hello World</title>
</head>
<body>
  <div class="banner">
    <div class="navbar">
        <img src="/static/logo-modified.png" class="logo">
        <ul>
            <li><a href="main.html">Home</a></li>
            <li><a href="#">Doctors</a></li>
            <li><a href="#">Tests</a></li>
            <li><a href="#">Donate</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
    <div class="content">
      <label for="Headache">Fever:</label>
      <select name="Headache" id="Headache">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="MusclesPain">Fever:</label>
      <select name="Muscles Pain" id="MusclesPain">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="BonePain">Fever:</label>
      <select name="Bone Pain" id="BonePain">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="JointPain">Fever:</label>
      <select name="Joint Pain" id="JointPain">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="Nausea">Fever:</label>
      <select name="Nausea" id="Nausea">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="Vomiting">Fever:</label>
      <select name="Vomiting" id="Vomiting">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="PainBehinedEyes">Fever:</label>
      <select name="Pain Behined Eyes" id="PainBehinedEyes">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="SwollenGlads">Fever:</label>
      <select name="Swollen Glads" id="SwollenGlads">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>


      <label for="Rash">Fever:</label>
      <select name="Rash" id="Rash">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="Fever">Fever:</label>
      <select name="Fever" id="Fever">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="StomachPain">Fever:</label>
      <select name="Stomach Pain" id="Stomach Pain">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="Chills">Fever:</label>
      <select name="Chills" id="Chills">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="Discomfort">Fever:</label>
      <select name="Discomfort" id="Discomfort">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="Diarrhea">Fever:</label>
      <select name="Diarrhea" id="Diarrhea">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="Fatigue">Fever:</label>
      <select name="Fatigue" id="Fatigue">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="Cough">Fever:</label>
      <select name="Cough" id="Cough">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="RapidBreathe">Fever:</label>
      <select name="Rapid Breathe" id="RapidBreathe">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="Weakness">Fever:</label>
      <select name="Weakness" id="Weakness">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="LossAppetite">Fever:</label>
      <select name="Loss Appetite" id="LossAppetite">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

       <label for="Flu">Fever:</label>
      <select name="Flu" id="Flu">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

       <label for="ChangeinSkinColor">Fever:</label>
      <select name="Change in Skin Color" id="ChangeinSkinColor">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

       <label for="DarkUrine/Stool">Fever:</label>
      <select name="Dark Urine/Stool" id="DarkUrine/Stool">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="Lossoftaste">Fever:</label>
      <select name="Loss of taste" id="Lossoftaste">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="Lossofsmell">Fever:</label>
      <select name="'Loss of smell" id="'Lossofsmell">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="Sorethroat">Fever:</label>
      <select name="Sore throat" id="Sore throat">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>

      <label for="Runny Nose">Fever:</label>
      <select name="Runny Nose" id="RunnyNose">
        <option value="select">select</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>




        <div>
            <button a type="button">
                <span></span> <a href="#">Check Result</a>
            </button>
        </div>
    </div>

</div>
</body>
</html>