<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/Style.css">
  <title>Team Hello World</title>
</head>

<body>
  <form class="banner" action="http://127.0.0.1:5000/submit_diseases" method="POST">

    <div class="content">
      <div class="contnt-box">
        <label for="Headache">Headache:</label>
        <select name="Headache" id="Headache">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="MusclesPain">MusclesPain:</label>
        <select name="MusclesPain" id="MusclesPain">
          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="BonePain">BonePain:</label>
        <select name="BonePain" id="BonePain">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="JointPain">JointPain:</label>
        <select name="JointPain" id="JointPain">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="Nausea">Nausea:</label>
        <select name="Nausea" id="Nausea">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="Vomiting">Vomiting:</label>
        <select name="Vomiting" id="Vomiting">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="PainBehinedEyes">PainBehinedEyes:</label>
        <select name="PainBehinedEyes" id="PainBehinedEyes">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="SwollenGlads">SwollenGlads:</label>
        <select name="Swollen Glads" id="SwollenGlads">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>


        <label for="Rash">Rash:</label>
        <select name="Rash" id="Rash">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="Fever">Fever:</label>
        <select name="Fever" id="Fever">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="StomachPain">StomachPain:</label>
        <select name="Stomach Pain" id="Stomach Pain">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="Chills">Chills:</label>
        <select name="Chills" id="Chills">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="Discomfort">Discomfort:</label>
        <select name="Discomfort" id="Discomfort">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="Diarrhea">Diarrhea:</label>
        <select name="Diarrhea" id="Diarrhea">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="Fatigue">Fatigue:</label>
        <select name="Fatigue" id="Fatigue">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="Cough">Cough:</label>
        <select name="Cough" id="Cough">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="RapidBreathe">RapidBreathe:</label>
        <select name="Rapid Breathe" id="RapidBreathe">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="Weakness">Weakness:</label>
        <select name="Weakness" id="Weakness">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="LossAppetite">LossAppetite:</label>
        <select name="Loss Appetite" id="LossAppetite">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="Flu">Flu:</label>
        <select name="Flu" id="Flu">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="ChangeinSkinColor">ChangeinSkinColor:</label>
        <select name="Change in Skin Color" id="ChangeinSkinColor">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="DarkUrine/Stool">DarkUrine/Stool:</label>
        <select name="Dark Urine/Stool" id="DarkUrine/Stool">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="Lossoftaste">Lossoftaste:</label>
        <select name="Loss of taste" id="Lossoftaste">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="Lossofsmell">Lossofsmell:</label>
        <select name="'Loss of smell" id="'Lossofsmell">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="Sorethroat">Sorethroat:</label>
        <select name="Sore throat" id="Sore throat">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <label for="RunnyNose">RunnyNose:</label>
        <select name="RunnyNose" id="RunnyNose">

          <option value="No" selected>No</option>
          <option value="Yes">Yes</option>
        </select><br>

        <input type="submit" value="Sumbit" />
      </div>
    </div>
    <p style="margin:150px; width:auto; max-height:500px">{{result}}</p>

  </form>
</body>

</html>