<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/mains.css">
    <title>Team Hello World</title>
</head>

<body>
    <div class="banner">

        <div class="content">
            <h1>Disease Detector</h1>
            <p>provide Online medical test with 99% accuracy If you have disease <br> kindly
                give the Following answers and know about disease</p>
            <div>
                <button a type="button">
                    <span></span> <a href="/form">TEST HERE</a>
                </button>
            </div>
        </div>

    </div>
</body>

</html>